<head>
</head>

<main>
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
          <% current_user.rooms.each do |room| %>
              <% @another_user = (room.users.where.not(id: current_user.id).to_a)[0] %>
               <div class="row justify-content-center text-center">
                 <%= link_to room_messages_path(room) do %>
                   <div class="col justify-content-center text-center">
                      <div class="flex-item">
                       <div class="room-image-wrap">
                          <% if @another_user.profile_image.attached? %>
                               <%= image_tag @another_user.get_profile_image(100,100) %><br>
                          <% else %>
                               <%= image_tag 'no_image.jpg', size: "50x50" %><br>
                          <% end %>
                       </div>
                      </div>
                   </div>
                   <div class="col">
                      <%= @another_user.name %><br>
                 <% end %>       
                      <%= time_ago_in_words(room.updated_at).upcase %>前
                      <% id = room.id %>
                   </div>
               </div>
          <% end %>
    </div>
        <div class="col-xl-6">
          <div class="row justify-content-center " >
            <strong><%= @room_owner %></strong>
          </div>
          <div class="message_area">
            <div id="messages">
          　    <%= render partial: 'message', collection: @messages %>
          　</div>
          </div>
          
          <div class="row">
            <div class="chat">
              <%= render partial: 'chat', room: @room, message: @message %>
            </div>
          </div>
        </div>
    </div>
  </div>
</main>


<script type="text/javascript">
const scrollAuto = $('.messages');
scrollAuto.animate({scrollTop: ($scrollAuto[0].scrollHeight + 1000)}, 'fast')
</script>