<main>
  <div class="container">
    <div class="row justify-content-center">
      <h5><strong>マップ一覧</strong></h5>
    </div>

    <div class="row justify-content-center">
      <ul class="search-ul">
      <%= search_form_for @q, url: search_keyword_maps_path do |f| %>
        <li class=search-li><%= f.label :place_name_or_address_cont, 'キーワードから検索' %></li>
        <li class=search-li><%= f.search_field :place_name_or_address_cont %></li>
        <li class=search-li><%= f.label :types_cont, 'ジャンル' %></li>
        <li class=search-li><%= f.select :types_cont, Map.types.keys.map{|k| [I18n.t("enums.map.types.#{k}"), Map.types[k]]} %></li>
        <li class=search-li><%= f.submit '検索' %></li>
      <% end %>
      </ul>
    </div>



    <div class="row justify-content-center">
      <div class="col-xl-10">
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th><%= sort_link(@q, :place_name, "店名/場所") %></th>
                <th><%= sort_link(@q, :address, "市区町村") %></th>
                <th><%= sort_link(@q, :rating, "評価") %></th>
                <th><%= sort_link(@q, :favorites_count, "お気に入り") %></th>
                <th><%= sort_link(@q, :reviews_count, "レビュー") %></th>
                <th><%= sort_link(@q, :types, "ジャンル") %></th>
                <th><%= sort_link(@q, :updated_at, "更新日") %></th>
              </tr>
            </thead>
            <tbody>
              <% @maps.each do |map| %>
              <tr>
                <td><%= link_to map_path(map.id) do %>
                    <%= map.place_name %>
                    <% end %>
                </td>
                <td><%= map.address.match(/^.{2,3}[市区町村]/).to_s %></td>
                <td><%= map.rating %></td>
                <td><%= map.favorites_count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></td>
                <td><%= map.reviews.count %></td>
                <td><%= map.types_i18n %></td>
                <td>
                  <% if map.favorites.last != nil %>
                    <%= map.favorites.last.updated_at.strftime('%Y/%m/%d') %>
                  <% end %>
                </td>
              <% end %>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="row justify-content-center">
        <%= paginate @maps %>
      </div>
    </div>
  </div>
</main>

