<main>
    <div class="container">
      <div class="row" style="padding: 10px">
        <div class="col text-center" style="padding: 10px" >
            <h5>お気に入りに追加する</h5><br>
        </div>
      </div>
      <div class="row justify-content-center" style="padding: 10px">
        <div class="col-xl-6" style="padding: 10px" >
             <div id="map" style="width:500px;height:300px;" ></div>
        </div>
        <div class="col-xl-3 text-left">
            <%= form_with model: @map, url: maps_path, local: true do |f| %>
            <%= params[:place_name] %>(評価:<%= params[:rating] %>)<br>
            <%= f.hidden_field :place_name, :value => params[:place_name] %>
            <%= f.hidden_field :rating, :value => params[:rating] %>
            <%= params[:address] %><br>
            <%= f.select :types, Map.types.keys.map{|k| [I18n.t("enums.map.types.#{k}"), k]} %>
            <%= f.hidden_field :address, :value => params[:address] %>
            <%= f.hidden_field :latitude, :value => params[:latitude] %>
            <%= f.hidden_field :longitude, :value => params[:longitude] %>
            <%= f.hidden_field :place_id, :value => params[:place_id] %>
            <%= f.hidden_field :user_id, :value => params[:user_id] %>


            <%= f.submit 'お気に入りに追加する' %>
            <% end %>
        </div>
      </div>
    </div>
  </main>
  
       <script>
        function initMap(){
          let latlng = new google.maps.LatLng(<%= params[:latitude] %>,<%= params[:longitude] %>);
          let map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= params[:latitude] %>, lng: <%= params[:longitude] %>},
          zoom: 15
          });

         new google.maps.Marker({
          map: map,
          position: latlng,
        })
        }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=places" async defer></script>
