<h1>お気に入りに追加する</h1>

<%= form_with model: @map, url: maps_path, local: true do |f| %>
<img src="<%= URI.decode(Base64.decode64(params[:map_image])) %>"  width="200" height="200"><br>
<%= f.hidden_field :store_name, :value =>  URI.decode(Base64.decode64(params[:map_image])) %>
<%= params[:store_name] %><br>
<%= f.hidden_field :store_name, :value => params[:store_name]%>
<%= params[:rating] %><br>
<%= f.hidden_field :rating, :value => params[:rating]%>
<%= params[:address] %><br>
<%= f.hidden_field :address, :value => params[:address]%>

<%= params[:latitude] %><br>
<%= f.hidden_field :latitude, :value => params[:latitude]%>
<%= params[:longitude] %><br>
<%= f.hidden_field :longitude, :value => params[:longitude]%>
<%= params[:place_id] %><br>
<%= f.hidden_field :place_id, :value => params[:place_id]%>
<%= f.hidden_field :user_id, :value => params[:user_id]%>


<%= f.submit 'お気に入りに追加する' %>
<% end %>