<head>
</head>
<main>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-9 justify-content-center text-center" style="padding: 10px" >
                 <div id="map" style="width:800px;height:400px;" ></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 justify-content-center" style="padding: 10px" >
               <h4><strong><%= @map.place_name %></strong></h4>
               住所:<%= @map.address %><br>
          　</div>
          　<div class="col-xl-5 justify-content-center text-right" style="padding: 10px" >
          　   Googleでの評価:(<%= @map.rating %>) <div class="review-rating" data-score="<%= @map.rating %>"></div>
          　  レビュー<%= @map.reviews.count %>件 <i class="fas fa-heart"></i> <%= @map.favorites.count %>件
              <% if user_signed_in? %>
                <p class="caption">
                  <% if @map.favorited_by?(current_user) %>
                   <%= link_to map_favorite_path(@map.id), method: :delete, class: "btn-sm btn-secondary"  do %>
                    お気に入りを解除する
                   <% end %>
                  <% else %>
                   <%= link_to map_favorites_path(@map.id), method: :post, class:'btn btn-sm btn-success' do %>
                    お気に入りに追加する
                   <% end %>
                  <% end %>
                </p>
              <% end %>
              <% if !user_signed_in? %>
                  <%= link_to new_user_session_path, method: :post, class:'btn btn-sm btn-success' do %>
                      お気に入りに追加する
                  <% end %>
              <% end %>
          　</div>
        </div>
        <div class="row justify-content-center">
           <div class="col-xl-9 justify-content-center text-left" style="padding: 10px" >
             <b>レビュ一</b>
           </div>
        </div>
        <div class="row justify-content-center">
           <div class="col-xl-9 justify-content-center text-left" style="padding: 10px" >
             <div class="review_area">
                <% @map.reviews.each do |review| %>

                  <%= review.created_at.strftime('%Y/%m/%d') %>

                  <strong><%= link_to review.user.name, user_path(review.user.id) %></strong> さん<br>

                  <%= review.review %><br>
                  <% if review.review_image.attached? %>
                    <%= image_tag review.get_review_image(200,200) %><br>
                  <% end %>

                <div class="justify-content-end text-right">
                  <% if review.user.id == current_user.id %>
                    <%= link_to "編集", edit_map_review_path(review.map.id, review.id) %> |
                    <%= link_to "削除", map_review_path(review.map.id, review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                  <% end %>
                </div>
                  <hr>
                <% end %>
             </div>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="row justify-content-center text-left" style="padding: 10px" >
              <strong>レビューを投稿する</strong>
          </div>
          <div class="row justify-content-center text-left" style="padding: 10px" >
        　     <div id="rating-form"></div>
          </div>
          <div class="row justify-content-center">
             <div class="col-xl-9 justify-content-center text-left" style="padding: 10px" >
               <table class="table table-hover table-inverse">
                 <tbody>
                   <tr>
                      <%= form_with model: @review, url: map_reviews_path(@map.id) do |f| %>
                      <div class="form-group">
                        <%= f.text_area :review,  class: 'form-control', size: "20x7" %><br>
                      </div>
                      <div class="form-group">
                        <%= f.file_field :review_image, accept: "image/*" %><br>
                      </div>
                        <%= f.hidden_field :map_id, :value => @map.id %>
                      <div class="actions">
                        <%= f.submit 'レビューを投稿する', class: "btn btn-success" do %>
                        <% end %>
                      </div>
                      <% end %>
                   </tr>
                 </tbody>
               </table>
             </div>
          </div>
        <% end %>

        <div class="row justify-content-center">
              <div class="col-xl-9 justify-content-center text-left" style="padding: 10px" >
                 <b>お気に入りに追加したユーザー</b>
              </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-9 justify-content-center text-left" style="padding: 10px" >
               <div class="row">
                  <% @map_users.each do |favorite| %>
                    <div class="col-md-2 text-center">
                       <% if favorite.user.profile_image.attached? %>
                        <div class="flex-item ">
                          <div class="map-image-wrap">
                            <%= link_to user_path(favorite.user.id) do %>
                               <%= image_tag favorite.user.get_profile_image(45,45) %><br>
                          <% end %>
                          </div>
                        </div>
                       <% else %>
                        <div class="flex-item ">
                          <div class="map-image-wrap">
                            <%= link_to user_path(favorite.user.id) do %>
                                <%= image_tag 'no_image.jpg', size: "45x45" %><br>
                          </div>
                        </div>
                          <% end %>
                       <% end %>
                          <%= favorite.user.name %><br>
                    </div>
                  <% end %>
               </div>
                 <div class="row justify-content-center">
                   <%= paginate @map_users %>
                 </div>
            </div>
        </div>
    </div>
</main>

<script>
    function initMapShow(){
      let latlng = new google.maps.LatLng(<%= @map.latitude %>,<%= @map.longitude %>);
      let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @map.latitude %>, lng: <%= @map.longitude %>},
      zoom: 15
      });

    new google.maps.Marker({
      map: map,
      position: latlng,
    })
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMapShow&libraries=places" async defer></script>

<script>
  $('.review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    },
  });
</script>

<script>
  $('#rating-form').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'review[rating]'
  });
</script>