<head>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
          <h5><i class="fas fa-chart-line"></i><strong>USER'S FAVORITES</strong></h5><br>
        </div>
          <div class="row ">
            <div class="col-xl-12" >
                  <div class="row justify-content-center">
                    <div class="home-main-content-col col-md-2 border rounded" >
                      <div class="home-main-content">
                      <h8><i class="fas fa-utensils"></i> Restaurant</h8><br>
                          <% @maps_restaurant.each do |map| %>
                              <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                              <%= link_to map.place_name, "#map" %><br>
                              (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                              <i class="fab fa-gratipay"></i> <%= map.favorites.count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></div>
                          <% end %>
                      </div>
                    </div>
                    <div class="home-main-content-col col-md-2 border rounded" >
                     <div class="home-main-content">
                      <h8><i class="fas fa-cocktail"></i> Bar</h8><br>
                        <% @maps_bar.each do |map| %>
                            <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                            <%= link_to map.place_name, "#map" %><br>
                            (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                            <i class="fab fa-gratipay"></i> <%= map.favorites.count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></div>
                        <% end %>
                     </div>
                    </div>
                    <div class="home-main-content-col col-md-2 border rounded" >
                     <div class="home-main-content">
                      <h8><i class="fas fa-cheese"></i> cafe</h8><br>
                        <% @maps_cafe.each do |map| %>
                            <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                            <%= link_to map.place_name, "#map" %><br>
                            (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                            <i class="fab fa-gratipay"></i> <%= map.favorites.count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></div>
                        <% end %>
                     </div>
                    </div>
                    <div class="home-main-content-col col-md-2 border rounded" >
                     <div class="home-main-content">
                      <h8><i class="fas fa-hotel"></i> Hotel</h8><br>
                        <% @maps_hotel.each do |map| %>
                            <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                            <%= link_to map.place_name, "#map" %><br>
                            (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                            <i class="fab fa-gratipay"></i> <%= map.favorites.count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></div>
                        <% end %>
                     </div>
                    </div>
                  </div>
                  <div class="justify-content-center text-center">

                    <input id="address" type="textbox" placeholder="例:溝の口">
                    <input type="button" value="周辺地域を検索する" onclick="codeAddress()">
                  </div>
                  <div class="row justify-content-center text-center">
                    <div class="col-md-9 border rounded justify-content-center text-center " style="padding: 10px" >
                         <div id="map" style="width:auto;height:600px; " ></div>
                    </div>
                  </div>
                  <div class="justify-content-center text-center">
                        <button id='getCurrentAddressBtn' onClick='getCurrentAddress()' style="margin: 10px">
                            現在地
                        </button>
                  </div>
                  <div class="row justify-content-center">
                    <div class="home-main-content-col col-md-2 border rounded" >
                      <div class="home-main-content">
                      <h8><i class="fas fa-record-vinyl"></i> Night Club</h8><br>
                          <% @maps_night_club.each do |map| %>
                              <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                              <%= link_to map.place_name, "#map" %><br>
                              (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                              <i class="fab fa-gratipay"></i> <%= map.favorites.count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></div>
                          <% end %>
                      </div>
                    </div>
                    <div class="home-main-content-col col-md-2 border rounded" >
                     <div class="home-main-content">
                      <h8><i class="fab fa-gripfire"></i> 温泉</h8><br>
                        <% @maps_hot_spring.each do |map| %>
                            <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                            <%= link_to map.place_name, "#map" %><br>
                            (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                            <i class="fab fa-gratipay"></i> <%= map.favorites.count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></div>
                        <% end %>
                     </div>
                    </div>

                    <div class="home-main-content-col col-md-2 border rounded" >
                     <div class="home-main-content">
                      <h8><i class="fab fa-fly"></i> Park</h8><br>
                        <% @maps_park.each do |map| %>
                            <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                            <%= link_to map.place_name, "#map" %><br>
                            (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                            <i class="fab fa-gratipay"></i> <%= map.favorites.count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></div>
                        <% end %>
                     </div>
                    </div>
                    <div class="home-main-content-col col-md-2 border rounded" >
                     <div class="home-main-content">
                      <h8><i class="fas fa-star-of-life"></i> Other</h8><br>
                        <% @maps_other.each do |map| %>
                            <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                            <%= link_to map.place_name, "#map" %><br>
                            (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                            <i class="fab fa-gratipay"></i> <%= map.favorites.count - map.favorites.joins(:user).where(users: { is_deleted: true}).count %></div>
                        <% end %>
                     </div>
                    </div>
                  </div>
            </div>
    　　　　</div>
    </div>
</body>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=places" async defer></script>

