
<body>
    <div class="container">
        <div class="row">
          <h5><i class="fas fa-chart-line"></i><strong>FAVORITE</strong></h5><br>
        </div>
          <div class="row map-user ">
            <div class="col-md-9" >
                  <div class="row justify-content-center">
                    <div class="col-md-3 border rounded " style="padding:10px; margin:10px;" >
                      <div style="width:240px;height:300px; ">
                      <h8><i class="fas fa-utensils"></i>Restaurant</h8><br>
                          <% @maps_restaurant.each do |map| %>
                              <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                              <%= link_to map.place_name, "#map" %><br>
                              (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                              <i class="fab fa-gratipay"></i><%= map.favorites.count %></div>
                          <% end %>
                      </div>
                    </div>
                    <div class="col-md-3 border rounded " style="padding:10px; margin:10px;" >
                     <div style="width:240px;height:300px; ">
                      <h8><i class="fas fa-cocktail"></i>Bar</h8><br>
                        <% @maps_bar.each do |map| %>
                            <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                            <%= link_to map.place_name, "#map" %><br>
                            (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                            <i class="fab fa-gratipay"></i><%= map.favorites.count %></div>
                        <% end %>
                     </div>
                    </div>
                    <div class="col-md-3 border rounded " style="padding:10px; margin:10px;" >
                     <div style="width:240px;height:300px; ">
                      <h8><i class="fab fa-fly"></i>Park</h8><br>
                        <% @maps_park.each do |map| %>
                            <div onClick="getFavoriteAddresss(<%= map.latitude %>, <%= map.longitude %>, <%= map.id %>,'<%= map.place_name %>')" >
                            <%= link_to map.place_name, "#map" %><br>
                            (<%= map.address.match(/^.{2,3}[市区町村]/).to_s %>)
                            <i class="fab fa-gratipay"></i><%= map.favorites.count %></div>
                        <% end %>
                     </div>
                    </div>
                  </div>
                  <div class="justify-content-center text-center">
                    
                    <input id="address" type="textbox" placeholder="溝の口">
                    <input type="button" value="周辺地域を検索する" onclick="codeAddress()">
                  </div> 
                  <div class="row justify-content-center text-center">
                    <div class="col-md-9 border rounded " style="padding: 10px" >
                         <div id="map" style="width:600px;height:600px; " ></div>
                         <button id='getCurrentAddressBtn' onClick='getCurrentAddress()'>
                            現在地
                         </button>
                    </div>
                  </div>
            </div>
            <div class="col-md-2 text-center" style="padding:10px; margin:10px; height:600px; ">
              <h8><i class="fas fa-users"></i> USERS </h8><br>
                <% @users.each do |user| %>
                     <% if user.profile_image.attached? %>
                      <div class="flex-item ">
                        <div class="image-wrap-homes">
                            <%= link_to user_path(user.id) do %>
                               <%= image_tag user.get_profile_image(50,50) %>
                            <% end %>
                        </div>
                      </div>        
                      <% else %>
                      <div class="flex-item ">
                        <div class="image-wrap-homes">
                            <%= link_to user_path(user.id) do %>
                                <%= image_tag 'no_image', size: "50x50" %>
                            <% end %>
                        </div>
                      </div>
                     <% end %>
                   <%= user.name %><br>
                <% end %>
            </div>
          </div>
        <div class="row community">
            <h5><i class="fas fa-comments"></i> COMMUNITY </h5><br>
        </div>
        <div class="row justify-content-center text-center">
            <% @communities.each do |community| %>
            <div class="col-lg-2 justify-content-center text-center ">
              <% if community.community_image.attached? %>
                <div class="flex-item ">
                 <div class="homes-image-wrap-community">
                    <%= link_to community_path(community.id) do %>
                       <%= image_tag community.get_community_image(70,70) %>
                    <% end %>
                 </div>
                </div>
              <% else %>
                <div class="flex-item ">
                 <div class="homes-image-wrap-community">
                    <%= link_to community_path(community.id) do %>
                       <%= image_tag 'no_image', size: "70x70" %>
                    <% end %>
                 </div>
                </div>
              <% end %>
                    <%= community.title %><br>
            </div>
              <% end %>
        </div>
    </div>
</body>
<script>

let map
let geocoder

function initMap(){
  let marker = [];
  let infoWindow = [];
  let latlng;
  const maps = gon.maps;
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.599, lng: 139.610},
    zoom: 15
  });

  for (let i = 0; i < maps.length; i++) {
    latlng = new google.maps.LatLng(maps[i].latitude, maps[i].longitude);
    marker[i] = new google.maps.Marker({
            map: map,
            position: latlng,
      });

      infoWindow[i] = new google.maps.InfoWindow({
                // contentで中身を指定
                // 今回は文字にリンクを貼り付けた形で表示
                content: `<a href='/maps/${maps[i].id}'>${maps[i].place_name}</a>`
                });
                // markerがクリックされた時、
                marker[i].addListener("click", function(){
                    // infoWindowを表示
                    infoWindow[i].open(map, marker[i]);
                });
    }
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder = new google.maps.Geocoder()
  geocoder.geocode( { 'address': inputAddress},

  function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);

    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

function getFavoriteAddresss(latitude, longitude, id, place_name) {
  function successCallback(position) {
      let marker = [];
      let infoWindow = [];
      const latlng = new google.maps.LatLng(latitude, longitude);
      　　map = new google.maps.Map(document.getElementById('map'), {
          center: latlng,
          zoom: 15,
      });

      marker[0] = new google.maps.Marker({
        map: map,
        position: latlng,
      });

      infoWindow[0] = new google.maps.InfoWindow({
        content: `<a href='/maps/${id}'>${place_name}</a>`
      });
                
      marker[0].addListener("click", function(){
        infoWindow[0].open(map, marker[0]);
      });
  }
  
  function errorCallback() {
      const result = document.getElementById('result');
      result.innerHTML = '座標取得できませんでした'
  }
  navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
}




function getCurrentAddress() {
  function successCallback(position) {
      let marker = [];
      let infoWindow = [];
      let latlngFav;
      const maps = gon.maps;
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;

      const latlng = new google.maps.LatLng(latitude, longitude);
      　　map = new google.maps.Map(document.getElementById('map'), {
          center: latlng,
          zoom: 15,
      });

      for (let i = 0; i < maps.length; i++) {
        latlngFav = new google.maps.LatLng(maps[i].latitude, maps[i].longitude);
        marker[i] = new google.maps.Marker({
                map: map,
                position: latlngFav,
          });

          infoWindow[i] = new google.maps.InfoWindow({
                    // contentで中身を指定
                    // 今回は文字にリンクを貼り付けた形で表示
                    content: `<a href='/maps/${maps[i].id}'>${maps[i].place_name}</a>`
                    });
                    // markerがクリックされた時、
                    marker[i].addListener("click", function(){
                        // infoWindowを表示
                        infoWindow[i].open(map, marker[i]);
                    });
       }
  }
  function errorCallback() {
      const result = document.getElementById('result');
      result.innerHTML = '座標取得できませんでした'
  }
  navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=places" async defer></script>

