<head>
</head>

<main>
  <div class="container">

    <div class="row justify-content-end">
      <li class="search-li"></li><%= link_to "コミュニティ新規", new_community_path, class:'btn btn-sm btn-success' %></li>
    </div>
    
    <div class="row justify-content-end">
      <ul class="search-ul">
        <%= search_form_for @q, url: search_communities_path  do |f| %>
          <li class="search-li"><%= f.label :title_cont, 'コミュニティをキーワードから検索' %></li>
          <li class="search-li"><%= f.search_field :title_cont %></li>
          <li class="search-li"><%= f.submit '検索' %></li>
        <% end %>
      </ul>
    </div>
    
    <div class="row justify-content-center">
      <h5><strong>コミュニティ一覧</strong></h5><br>
    </div>
    
    <div class="row">
        <table class="table">
          <tbody>
              <% @communities.each do |community| %>
              <div class="col-xl-2 justify-content-center text-center " >
                <% if community.community_image.attached? %>
                  <%= link_to community_path(community.id) do %>
                    <div class="flex-item">
                      <div class="image-wrap">
                         <%= image_tag community.get_community_image(100,100) %><br>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to community_path(community.id) do %>
                    <div class="flex-item">
                      <div class="image-wrap">
                        <%= image_tag 'no_image.jpg', size: "100x100" %><br>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <%= community.title %><br>
               </div>
              <% end %>
          </tbody>
        </table>
    </div>
    
    <div class="row justify-content-center">
      <%= paginate @communities %>
    </div>
  </div>
</main>

