<h1>コミュニティ新規作成</h1>
<%= form_with model: @community, url: confirm_path, local: true do |f| %>

<%= f.label :title, "コミュニティタイトル" %><br>
<%= f.text_field :title %><br>

<%= f.label :category_id, "コミュニティカテゴリ" %><br>
<%= f.text_field :category_id %><br>

<%= f.label :explanation, "コミュニティ説明" %><br>
<%= f.text_field :explanation %><br>

<%= f.submit '確認画面へ進む' %>
<% end %>
