<head>
</head>

<main>
  <div class="container">
    <div class="row justify-content-center">
      <th><strong><%= @community.title %></strong></th>
    </div>
    
    <div class="row justify-content-center">
      <% if @topic.errors.any? %>
        <%= @topic.errors.count %>件のエラーが発生しました
        <ul>
          <% @topic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-mid-3">
        <div class="row justify-content-center text-center">
          <% if @community.community_image.attached? %>
          <div class="flex-item">
            <div class="image-wrap">
            <%= image_tag @community.get_community_image(100,100) %><br>
            </div>
          </div>
          <% else %>
          <div class="flex-item">
            <div class="image-wrap">
            <%= image_tag 'no_image', size: "50x50" %><br>
            </div>
          </div>
          <% end %>
        </div>
        <div class="row justify-content-center text-center">
          <p class="caption">
          <% if user_signed_in? %>
            <% if @community.participated_by?(current_user) %>
             <%= link_to community_participant_path(@community, @community.find_participant(current_user)), method: :delete, class: "btn-sm btn-secondary"  do %>
              参加中
             <% end %>
            <% else %>
             <%= link_to community_participants_path(@community), method: :post, class:'btn btn-sm btn-success' do %>
              コミュニティに参加する
             <% end %>
            <% end %>
          <% end %>

          <% if !user_signed_in? %>
             <%= link_to new_user_session_path, class:'btn btn-sm btn-success' do %>
              コミュニティに参加する
             <% end %>
          <% end %>
          </p>
        </div>
        <div class="row">
          <table>
           <tbody>
             <tr>
               <th>管理人</th>
             </tr>
             <tr>
               <td>
                <div class="flex-item ">
                  <div class="community-admin-image-wrap">
                    <% if @community.user.profile_image.attached? %>
                      <%= link_to user_path(@community.user_id)  do %>
                         <%= image_tag @community.user.get_profile_image(100,100) %><br>
                      <% end %><br>
                    <% else %>
                      <%= link_to user_path(@community.user_id)  do %>
                         <%= image_tag 'no_image', size: "50x50" %><br>
                      <% end %><br>
                    <% end %>
                  </div>
                </div>
               </td>
             </tr>
             <tr>
               <th>カテゴリ</th>
             </tr>
             <tr>
               <td><%= @community.category.name %></td>
             </tr>
             <tr>
               <th>詳細</th>
             </tr>
             <tr class="explanation-area">
               <td class="explanation-area"><%= @community.explanation %></td>
             </tr>
             <tr>
               <th>開設日</th>
             </tr>
             <tr>
               <td><%= @community.created_at.strftime('%Y/%m/%d') %></td>
             </tr>
             <tr>
               <td>
              <% if user_signed_in? %>
                <% if @community.user_id == current_user.id %>
                 <%= link_to "コミュニティを編集する", edit_community_path(@community.id), class: "btn btn-outline-secondary" %><br>
                <% end %>
              <% end %>

               </td>
             </tr>
             <tr>
               <th>参加メンバー</th>
             </tr>
             <tr>
               <td>
                <% @community.participants.each do |participant| %>
                  <div class="flex-item ">
                    <div class="community-user-image-wrap">
                      <% if participant.user.profile_image.attached? %>
                          <%= link_to user_path(participant.user.id) do %>
                             <%= image_tag participant.user.get_profile_image(50,50) %><br>
                          <% end %><br>
                      <% else %>
                          <%= link_to user_path(participant.user.id) do %>
                             <%= image_tag 'no_image', size: "50x50" %><br>
                          <% end %><br>
                      <% end %>
                    </div>
                  </div>
                <% end %>
               </td>
             </tr>
           </tbody>
          </table>
        </div>
      </div>
      <div class="col-mid-8 offset-md-1">
          <div class="row">
            <h5>トピック一覧</h5>
          </div>
         <table class="table table-hover table-inverse">
           <tbody>
               <% @community.topics.each do |topic| %>
               <tr>
                <td><%= link_to topic.title, community_topic_path(@community.id, topic.id) %></td>
                <td></td>
                <td><%= topic.created_at.strftime('%Y/%m/%d') %></td>
               </tr>
               <% end %>
             </tr>
           </tbody>
         </table>
             <% if user_signed_in? %>
              <div class="row" >
                  <h5>トピックを作成する</h5>
              </div>
             <table class="table table-hover table-inverse">
               <tbody>
                 <tr>
                    <%= form_with model: @topic, url: community_topics_path(@community.id), local: true do |f| %>
                    <div class="form-group">
                      <label>タイトル</label><br>
                      <%= f.text_field :title,  class: 'form-control', size: "20x7" %><br>
                    </div>
                    <div class="form-group">
                      <label>説明</label><br>
                      <%= f.text_area :explanation,  class: 'form-control', size: "20x7" %><br>
                    </div>
                    <div class="form-group">
                      <%= f.file_field :topic_image, accept: "image/*" %><br>
                    </div>
                      <%= f.hidden_field :community_id, :value => @community.id %>
                    <div class="actions">
                      <%= f.submit 'トピックを作成する', class: "btn btn-success" do %>
                      <% end %>
                    </div>
                    <% end %>
                </tr>
               </tbody>
             </table>
            <% end %>
        </div>
      </div>
      <div class="row justify-content-end">
        <% if user_signed_in? %>
          <% if @community.user_id == current_user.id %>
           <%= link_to "コミュニティを削除する", community_path(@community.id), method: :delete, class:"btn-sm btn-secondary", "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>

