<h2>プロフィールの変更</h2>

<%= form_with model: @user, url: users_edit_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="field">
  <%= f.file_field :profile_image, accept: "image/*" %><br>
  </div>
  <div class="field">
  <%= f.label :ユーザーネーム %><br />  
  <%= f.text_field :name, autofocus: true, id:"inputName" %>
  </div>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, id:"inputEmail" %>
  </div>
  
  <div class="field">
    <%= f.label :都道府県 %><br />
    <%= f.text_field :region, autofocus: true, id:"inputRegion" %>
  </div>
  
  <div class="field">
    <%= f.label :市区町村 %><br />
    <%= f.text_field :city, autofocus: true, id:"inputCity" %>
  </div>
  
  <div class="field">
    <%= f.label :年 %><br />
    <%= f.text_field :birthday_year, autofocus: true, id:"inputBirthday_year" %>
  </div>
  
  <div class="field">
    <%= f.label :月 %><br />
    <%= f.text_field :birthday_month, autofocus: true, id:"inputBirthday_month" %>
  </div>
  
  <div class="field">
    <%= f.label :日 %><br />
    <%= f.text_field :birthday_day, autofocus: true, id:"inputBirthday_day" %>
  </div>
  
  <label for="inputGender">性別</label><br>
      男<%= f.radio_button :gender, :man %>
      女<%= f.radio_button :gender, :woman %> <br>
  </div>

  <div class="actions">
    <%= f.submit "変更する" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
