<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :ユーザーネーム %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :都道府県 %><br />
    <%= f.text_field :region, autofocus: true, autocomplete: "region" %>
  </div>
  
  <div class="field">
    <%= f.label :市区町村 %><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
  </div>
  
  <div class="field">
    <%= f.label :年 %><br />
    <%= f.text_field :birthday_year, autofocus: true, autocomplete: "birthday_year" %>
  </div>
  
  <div class="field">
    <%= f.label :月 %><br />
    <%= f.text_field :birthday_month, autofocus: true, autocomplete: "birthday_month" %>
  </div>
  
  <div class="field">
    <%= f.label :日 %><br />
    <%= f.text_field :birthday_day, autofocus: true, autocomplete: "birthday_day" %>
  </div>

  
  <div class="radio-inline">
      <%= f.label :性別 %><br />
      <%= f.radio_button :gender, :man, checked: "checked" %>
      <%= f.label User.genders_i18n[:man] %>
  </div>
  
  <div class="radio-inline">
      <%= f.radio_button :gender, :woman %>
      <%= f.label User.genders_i18n[:woman] %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
