<head>
</head>

<main>
  <div class="container">
    <div class="rowjustify-content-center text-center" style="padding: 10px">
       <h5>新規登録</h5>
    </div>
    
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
    
    <div class="row justify-content-center">
      <div class="col-xl-7 justify-content-center text-left" style="padding: 10px" >
        <table>
          <tbody>
            <tr>  
                <div class="form-group">
                  <label>ユーザーネーム</label><br>
                  <%= f.text_field :name, autofocus: true, autocomplete: "name",  class: 'form-control', size: "20x7" %>
                </div>
                <div class="form-group">
                  <label>メールアドレス</label><br>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: 'form-control', size: "20x7" %>
                </div>
                <div class="form-group">
                  <label>都道府県</label><br>
                  <%= f.text_field :region, autofocus: true, autocomplete: "region" %>
                </div>
                <div class="form-group">
                  <label>市区町村</label><br>
                  <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
                </div>
                
                <div class="form-group">
                  <label>生年月日</label><br>
                  <%= f.text_field :birthday_year, autofocus: true, autocomplete: "birthday_year" %>年<%= f.text_field :birthday_month, autofocus: true, autocomplete: "birthday_month" %>月<%= f.text_field :birthday_day, autofocus: true, autocomplete: "birthday_day" %>日
                </div>
                <div class="form-group">
                  <label>性別</label><br>
                  <%= f.radio_button :gender, :man, checked: "checked" %>
                  <%= f.label User.genders_i18n[:man] %>
                  <%= f.radio_button :gender, :woman %>
                  <%= f.label User.genders_i18n[:woman] %>
                </div>
                
                <div class="form-group">
                  <label>パスワード</label><br>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> 文字以上)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
                </div>
                <div class="form-group">
                  <label>パスワード確認</label><br>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
                <div class="actions">
                  <%= f.submit "登録する" %>
                  <% end %>
                </div>
              <%= render "public/shared/links" %>
          </tbody>
        </table>
      </div>
    </div>
 </div>
</main>




