<div class="row justify-content-center">
  <h5><strong>カテゴリ一作成</strong></h5>
</div>

<div class="row justify-content-center">
  <div class="col-xl-3">
      <table class="table table-hover table-inverse">
        <tbody>
          <%= form_with model: @category, url:admin_categories_path do |f| %>
          <tr>
            <div class="form-group">
              <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"カテゴリ名", class: 'form-control', size: "20x7" %>
            </div>
            <div class="actions">
              <%= f.submit "新規登録", class: "btn btn-success" do %>
              <% end %>
            </div>
          <% end %>  
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div class="row justify-content-center">
  <h5><strong>カテゴリ一覧</strong></h5>
</div>
<div class="row justify-content-center">
  <div class="col-xl-3">  
      <table class="table table-hover table-inverse">
          <thead>
          <tr>
            <th>カテゴリ名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <div class="form-group">
              <% @categories.each do |category| %>
                <td><%= category.name %></td>
                <td><%= link_to "編集する", edit_admin_category_path(category.id) %></td>
              <% end %>
            </div>  
          </tr>
        </tbody>
      </table>
  </div>      
</div>        


