<% visitor = notification.visitor %>
<% visited = notification.visited %>
    <table class="table">
      <tbody>
        <span>
          <%= link_to user_path(visitor) do %>
        <strong><%= visitor.name %></strong>
          <% end %>
        </span>さんが
          <% case notification.action %>
          <% when 'follow' then %>
            <%= "あなたをフォローしました" %>
          <% when 'like' then %>
            <%= link_to 'あなたのコミュニティ', notification.community, style: "font-weight: bold;" %>に参加しました
          <% end %>
        <small class="text-right text-muted"><%= time_ago_in_words(notification.created_at).upcase %>前</small>
      </tbody>
    </table>

