<head>
</head>

<main>
  <div class="container">
    <div class="rowjustify-content-center text-center" style="padding: 10px">
       <h5>ログイン</h5>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="row justify-content-center">
      <div class="col-xl-7 justify-content-center text-left" style="padding: 10px" >
        <table>
          <tbody>
            <tr>  
                <div class="form-group">
                  <label>メールアドレム</label><br>
                  <div class="field">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                </div>
                <div class="form-group">
                  <label>パスワード</label><br>
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>  
                </div>
                <div class="form-group">
                  <label>パスワード確認</label><br>
                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>
                </div>
                <div class="actions">
                  <%= f.submit "ログイン" %>
                  <% end %>
                </div>
              <%= render "public/shared/links" %>
            </tr>  
          </tbody>
        </table>
      </div>
    </div>
 </div>
</main>