<h1>Public::Users#show</h1>
<%= link_to @user.name, user_path(@user.id)%>さんのページ
<%= link_to "登録内容を編集する", edit_user_path(@user.id) %><br>

<head>
    
<body>

コミュニティ<br>
<% @user.communities.each do |community| %>
<%= image_tag community.get_community_image(50,50) %><br>
<%= community.title %><br>
<% end %><br>

コメント履歴<br>
<% @user.comments.each do |comment| %>
<%= link_to comment.topic.title, community_topic_path(comment.topic.community.id, comment.topic.id) %><br>

<% end %><br>









---------------------------------------------------------------------------------------<br>
<div id="map" style="width:500px;height:600px;"></div>
<button id='getCurrentAddressBtn' onClick='getCurrentAddress()'>
    get current address
</button>
<div id='result'>
</div>

  
<script>
//　1.現在地の緯度経度を取得する
//　2.取得した緯度経度情報をもとに赤いぴんを地図に表示する
//　3.取得した住所(緯度経度?)をDB
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.658, lng: 139.701},
  zoom: 15
  });
}

function getCurrentAddress() {
  function successCallback(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      
      const latlng = new google.maps.LatLng(latitude, longitude);
      let map = new google.maps.Map(document.getElementById('map'), {
          center: latlng,
          zoom: 15,
      });
      
      new google.maps.Marker({
          map: map,
          position: latlng,
      })
  }
  function errorCallback() {
      const result = document.getElementById('result');
      result.innerHTML = '座標取得できませんでした'
  }
  navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
}



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtsz9wCfYPrME_77VA6U4_AGgG7KhB2xg&callback=initMap" async defer></script>
</body>